@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Prata&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: black;
    color: white;
    margin: auto;
}
:root {
    --primary-color: #134A67;
    --secondary-color: #003D3D;
    --accent1-color: #FCE588;
    --accent2-color: #7DC8DA;

    --heading-font: 'Briem Hand', serif;
    --paragraph-font: 'Prata', serif;
    
    --nav-background-color: #003D3D;
    --nav-link-color: #FCE588;
    --nav-hover-link-color: #7DC8DA;
    --nav-hover-background-color: black
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px;
    align-items: center;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    background-color: var(--nav-background-color);
}
nav img {
    width: 100px;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    background-color: #003D3D;
}
figure {
    background-color: #003D3D;
    text-align: center;
    padding: 5px;
}
fieldset {
    display: grid;
    grid-gap: .3rem;
    padding: 7px;
    border: 2px var(--accent1-color) solid;
    border-radius: 6px;
    color: black;
}
fieldset h3 {
    font-size: 2rem;
    margin: 0;
    color: black;
}
form {
    padding: 16px;
    border: #003D3D solid 3px;
}
button {
    margin: 5px;
    border: var(--secondary-color) solid 2px;
    box-shadow: 0 0 10 var(--secondary-color);
}
button:hover {
    border: #FCE588 solid 2px;
    box-shadow: 0 0 10 white;
}
/* class specific */
.header {
    width: 200px;
    height: auto;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    left: 315px;
    color: var(--primary-color);
}
.hero article {
    position: absolute;
    padding: 50px;
    top: 270px;
    color: var(--secondary-color);
}
.hero article img {
    width: 30%;
    float: right;
}
.adventure { 
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--accent1-color);
}
.adventure h2 {
    display: flex;
    grid-column: span 5;
    justify-content: center;
    font-size: 2.5rem;
}
.adventure img {
    grid-column: span 1;
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: var(--secondary-color);
}
.adventure ul {
    display: flex;
}
.nav {
    display: flex;
    list-style: none;
}
.nav a {
    display: block;
    text-decoration: none;
}
.history{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
}
.history h2{
    display: flex;
    grid-column: span 3;
    justify-content: center;
    font-size: 2.5rem;
}
.foot img{
    width: 50px;
    height: 50px;
}
.info {
    background-color: #003D3D;
    color: #FCE588;
    display: flex;
    justify-content: space-around;
}
.map {
    display: flex;
    justify-content: center;
    border-top: black 2px solid;
    background-color: #003D3D;
}
.top {
    background-color: #7DC8DA;
    color: black;
}
.top h2 {
    color: black
}