@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Prata&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #134A67;
    --secondary-color: #003D3D;
    --accent1-color: #fce588;
    --accent2-color: #7DC8DA;

    --heading-font: 'Briem Hand', serif;
    --paragraph-font: 'Prata', serif;
    
    --navigation-background-color: var(--secondary-color);
    --navigation-link-color: var(--accent1-color);
    --navigation-hover-link-color: var(--accent2-color);
    --navitation-hover-background-color: black
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    display: flex;
    font-size: 1.2rem;
    background-color: var(--navigation-background-color);
}
nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--navigation-link-color);
}
nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navitation-hover-background-color);
}